In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn import metrics

# Read in the Datasets:

In [9]:
train_df = pd.read_csv("../datasets/model_2_train.csv")
test_df = pd.read_csv("../datasets/model_2_test.csv")

### Check the data from the previous model build:

***Train Data***

In [10]:
train_df.head()

,Unnamed: 0,id,pid,ms_subclass,ms_zoning,lot_frontage,lot_area,street,alley,lot_shape,...,bsmt_qual_TA,bsmt_cond_Ex,bsmt_cond_Fa,bsmt_cond_Gd,bsmt_cond_NA,bsmt_cond_Po,bsmt_cond_TA,central_air_dummy,garage_age,age_remod_add
0,0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,...,1,0,0,0,0,0,1,1,34.0,5
1,1,544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,...,0,0,0,0,0,0,1,1,12.0,12
2,2,153,535304180,20,RL,68.0,7922,Pave,NaN,Reg,...,1,0,0,0,0,0,1,1,57.0,3
3,3,318,916386060,60,RL,73.0,9802,Pave,NaN,Reg,...,0,0,0,0,0,0,1,1,3.0,3
4,4,255,906425045,50,RL,82.0,14235,Pave,NaN,IR1,...,0,0,0,1,0,0,0,1,53.0,17

In [11]:
train_df.drop(labels=["Unnamed: 0"], axis=1, inplace=True)
train_df.head()

,id,pid,ms_subclass,ms_zoning,lot_frontage,lot_area,street,alley,lot_shape,land_contour,...,bsmt_qual_TA,bsmt_cond_Ex,bsmt_cond_Fa,bsmt_cond_Gd,bsmt_cond_NA,bsmt_cond_Po,bsmt_cond_TA,central_air_dummy,garage_age,age_remod_add
0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,...,1,0,0,0,0,0,1,1,34.0,5
1,544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,Lvl,...,0,0,0,0,0,0,1,1,12.0,12
2,153,535304180,20,RL,68.0,7922,Pave,NaN,Reg,Lvl,...,1,0,0,0,0,0,1,1,57.0,3
3,318,916386060,60,RL,73.0,9802,Pave,NaN,Reg,Lvl,...,0,0,0,0,0,0,1,1,3.0,3
4,255,906425045,50,RL,82.0,14235,Pave,NaN,IR1,Lvl,...,0,0,0,1,0,0,0,1,53.0,17

***Test Data***

In [12]:
test_df.head()

,Unnamed: 0,id,pid,ms_subclass,ms_zoning,lot_frontage,lot_area,street,alley,lot_shape,...,bsmt_qual_NA,bsmt_qual_Po,bsmt_qual_TA,bsmt_cond_Fa,bsmt_cond_Gd,bsmt_cond_NA,bsmt_cond_TA,central_air_dummy,garage_age,age_remod_add
0,0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,...,0,0,0,0,0,0,1,0,96.0,56
1,1,2718,905108090,90,RL,NaN,9662,Pave,NaN,IR1,...,0,0,0,0,0,0,1,1,29.0,29
2,2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,...,0,0,0,0,1,0,0,1,0.0,0
3,3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,...,0,0,1,0,0,0,1,1,72.0,1
4,4,625,535105100,20,RL,NaN,9500,Pave,NaN,IR1,...,0,0,0,0,0,0,1,1,46.0,46

In [13]:
test_df.drop(labels=["Unnamed: 0"], axis=1, inplace=True)
test_df.head()

,id,pid,ms_subclass,ms_zoning,lot_frontage,lot_area,street,alley,lot_shape,land_contour,...,bsmt_qual_NA,bsmt_qual_Po,bsmt_qual_TA,bsmt_cond_Fa,bsmt_cond_Gd,bsmt_cond_NA,bsmt_cond_TA,central_air_dummy,garage_age,age_remod_add
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,0,0,0,0,1,0,96.0,56
1,2718,905108090,90,RL,NaN,9662,Pave,NaN,IR1,Lvl,...,0,0,0,0,0,0,1,1,29.0,29
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,0,0,0,0,1,0,0,1,0.0,0
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,0,0,1,0,0,0,1,1,72.0,1
4,625,535105100,20,RL,NaN,9500,Pave,NaN,IR1,Lvl,...,0,0,0,0,0,0,1,1,46.0,46